<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel='stylesheet' href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



    <script src="~/Scripts/JavaScript.js"></script>
    <script src="~/bundles/jquery"></script>
    <script src="~/bundles/bootstrap"></script>
</head>
<body>
    <button  onclick="topFunction()" id="myBtn" title="Go to top">top</button>
    <div class="header navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("ESA LAB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("實驗室簡介", "About", "Home", new { title = "About" })</li>
                    <li><a href="http://web.ntpu.edu.tw/~bslin/" title="Professor">指導教授</a></li>
                    <li>@Html.ActionLink("實驗室成員", "Member", "Home", new { title = "Member" })</li>
                    <li>@Html.ActionLink("留言板", "Contact", "Home", new { title = "Contact" })</li>
                    <li>@Html.ActionLink("[English]", "English", "Home", new { title = "English" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content ">
        @RenderBody()
        <hr />
        <br />
    </div>
    <footer>
        <br />
        <div class="foot1">
            <p>新北市三峽區大學路151號 國立臺北大學社會科學樓8F14</p>
            <p>
                8F14, Social Science Building, National Taipei University, No. 151, University Rd. Sanshia District, New Taipei City, Taiwan 237, R. O. C.
            </p>
            <p>Tel +886-2-86741111 ext. 67123</p>
            <p>FAX +886-2-2674-4448</p>
        </div>
        <div class="foot2">
            <br /><br />
            <p>&copy; @DateTime.Now.Year - ESA LAB</p>
        </div>
    </footer>
</body>
</html>


